#container {
  border: 1px solid gray;
}

body {
  padding: 0;
  margin: 0;
  top: 0;
}

textarea {
  resize: none;
}

footer {
  padding: 1em;
  color: white;
  background-color: black;
  clear: left;
  text-align: center;
}

header
{
  padding-left: 10%;
  background-color: black;
  color: white;
}

header h1
{
  margin: 0;
  padding: 1% 0;
}

#navSidebar {
  float: left;
  max-width: 160px;
  margin: 0;
  padding: 1em;
}

#navSidebar ul {
  list-style-type: none;
  padding: 0;
}

#navSidebar ul a {
  text-decoration: none;
  font-size: 20px;
}

#navSidebar ul a:link {
  color: black;
}

#navSidebar ul a:visited {
  color: green;
}

#navSidebar ul a:hover {
  color: Red;
}

#navSidebar ul a:active {
  color: blue;
}

#navbar{
  background-color: DarkSlateGrey;
  padding: 5px 20px;
  margin-right: 10%;
}

#navbar ul
{
  width: 70%;
}

#navbar li
{
  margin-bottom: 10px;
  display: inline-block;
  text-align: center;
  margin: 0 20px 0 20px;
}

#navbar li a
{
  text-decoration: none;
  color: white;
}

article {
  margin-left: 200px;
  border-left: 1px solid gray;
  padding: 1em;
  overflow: hidden;
  min-height: 500px;
}
